@font-face {
    font-display: swap;
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: normal;
    src:
        url('fonts/mozilla-headline/MozillaHeadline-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 600;
    src:
        url('fonts/mozilla-headline/MozillaHeadline-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: headline-fallback;
    src: local("Helvetica Neue");
    ascent-override: 84%;
    descent-override: 36%;
    line-gap-override: 0%;
    size-adjust: 98%;
  }
